# NestJS server
PORT=3001
SESSION_SECRET=change-me-to-a-random-string

# Keycloak OIDC
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=iam-demo
KEYCLOAK_CLIENT_ID=nestjs-app
KEYCLOAK_CLIENT_SECRET=change-me

# Application
APP_URL=http://localhost:3001
