<!DOCTYPE html>
<html lang="{{lang}}" data-theme="dark">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/variables.css" />
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/layout.css" />
  <link rel="stylesheet" href="/css/components.css" />
</head>
<body>
  <div class="app-layout">
    {{> header}}
    <main class="app-main">
      {{{body}}}
    </main>
    {{> footer}}
  </div>
  <script src="/js/theme.js"></script>
</body>
</html>
